@font-face {
  font-family: "DS-Digital-Bold";
  src: url("fonts/DS-DIGIB.TTF");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("/assets/gifNumeros.gif");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: animateBackground 10s linear infinite;
}

@keyframes animateBackground {
  0%,
  100% {
    background-position: 10 0; /* Inicio y final del bucle */
  }
  25% {
    background-position: 100% 0; /* Cuarto de la animación */
  }
  50% {
    background-position: 100% 100%; /* Mitad de la animación */
  }
  75% {
    background-position: 0 100%; /* Tres cuartos de la animación */
  }
}
#calculator {
  background-color: #575757;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px 30px 0 30px;
  border-radius: 10px;
  box-shadow: 15px 15px 0px #424242;
}

#calculator::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 8px;
  background-color: #424242;
  transform: rotate(45deg);
  margin-left: -29.5px;
  margin-top: -2.5px;
  z-index: -1;
}

#calculator::before {
  content: "";
  position: absolute;
  margin-left: 458.9px;
  margin-top: -21.3px;
  width: 25px;
  height: 8px;
  background-color: #424242;
  transform: rotate(45deg);
  z-index: -1;
}

#calculator > .operands {
  width: 100%;
  padding: 20px;
  text-align: right;
  background-color: #bcd1c0;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 70px;
  font-family: "DS-Digital-Bold";
}

#calculator > .operands > [data-operand-1] {
  font-size: 40px;
}

#calculator > .buttonsgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

#calculator > .buttonsgrid > button {
  padding: 10px;
  background-color: #ececec;
  font-weight: bold;
  border-radius: 10px;
  border-width: 5px;
  border-color: #c9c9c9;
  font-size: 25px;
}

#calculator > .buttonsgrid > button:nth-child(2) {
  grid-column: span 2;
}
#calculator > .buttonsgrid > button:last-child {
  grid-column: span 2;
  background-color: #f5a34d;
  border-color: #ce812a;
  border-style: outset;
}

#copy {
  font-size: 12px;
  padding: 10px;
  color: #ccc;
  text-align: center;
}

#copy a {
  color: yellowgreen;
  text-decoration: none;
}
